<h2>Ostrich Sans</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/ostrich-sans.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Fanwood</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/fanwood.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Linden Hill</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/linden-hill.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>League Script</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/league-script.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Raleway</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/raleway.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Prociono</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/prociono.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Orbitron</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/orbitron.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Goudy Bookletter 1911</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/goudy-bookletter.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>League Gothic</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/league-gothic.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Sorts Mill Goudy</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/league-gothic.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Blackout</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/blackout.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Chunk Five</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/chunk-five.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Sniglet</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/sniglet.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>

<h2>Junction</h2>
<p class="embed">
  <input type="text" value="&lt;link rel=&quot;stylesheet&quot; href=&quot;http://fonts.herokuapp.com/junction.css&quot; /&gt;" readonly="true" onclick="this.select();" />
</p>