<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Fonts | Fonts ready to embed from The League of Movable Type</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="/favicon.png">

  <link rel="stylesheet" href="stylesheets/normalize.css" />
	<link rel="stylesheet" href="stylesheets/application.css" />
</head>
<body>

	<div id="main" role="main">
		<%= yield %>
	</div>

  <footer id="footer" role="contentinfo">
    By <a href="http://garethrees.co.uk">Gareth Rees</a>
  </footer>

</body>
</html>